.search-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 3rem;
    color: var(--grey);
    background-color: var(--darkgrey);
    width: 80%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
     font-size: 1.2rem;
}

.search-flex input{
    background-color: var(--darkgrey);
    border: none;
    color: var(--grey);
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
}

.search-flex input:focus{
   outline: none;
}
