.coin-info-desc{
    padding-bottom: 1rem;
    cursor: pointer;
}

.coin-info-desc a{
    text-decoration: underline !important;
}

.coin-info-desc a:hover{
   color: var(--blue) !important;
}

.coin-info-heading{
    margin: 1rem 0rem;
    padding-top: 1rem;
}