.navbar {
  position: sticky;
  top: 0;
  background-color: var(--black);
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 1.3rem;
}

.links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.link {
  color: var(--grey);
  font-weight: 600;
  font-size: 1rem;
}

.link:hover {
  color: var(--white);
  transition: all 0.3s;
  cursor: pointer;
}

.mobile-drawer {
  display: none;
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 1.5rem;
  }

  .logo {
    font-size: 1rem;
  }

 
  .links{
    display: none;
  }
  .mobile-drawer {
    display: block;
  }
  .drawer-div {
    width: 40vw;
    height: 100vh;
    background-color: var(--black);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
  }
}