.flex-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem 3rem;
    min-height: 90vh;
}

.track-crypto-heading, .real-time-heading{
    font-size: 6.5rem;
    margin: 0;
    font-weight: 800;
}

.track-crypto-heading {
    color: var(--white);
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: var(--white);
}

.track-crypto-heading:hover{
     color: var(--black);
    -webkit-text-stroke-color: var(--white);
    transition: all 0.3s;
}

.real-time-heading{
    color: var(--blue);
}

.info-text{
    font-size: 1.2rem;
    color: var(--grey);
}

.btn-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.phone-container{
    width: 50%;
    position: relative;
    padding: 1rem;
}

.iphone{
    position: absolute;
    z-index: 100;
    min-width: 300px;
    width: 50%;
    right: 0;
    object-fit: contain;
    z-index: 1;
}

.gradient{
    position: absolute;
    min-width: 250px;
    width: 40%;
    top: 8rem;
    right: 0;
    object-fit: contain;
    z-index: 0;
}

@media only screen and (max-width: 1250px) {

 .track-crypto-heading, .real-time-heading{
    font-size: 5rem;
    margin: 0;
  }

   .gradient {
    min-width: 200px;
    top: 6rem;
  }
  .iphone {
    min-width: 250px;
  }

}


@media only screen and (max-width: 1000px) {
  .iphone {
    max-width: 250px;
    width: 50%;
  }

  .gradient {
    max-width: 200px;
    top: 6rem;
  }
  
}


@media only screen and (max-width: 800px) {
  .flex-info{
    flex-direction: column;
  }

  .phone-container{
    display: block;
    margin: auto;
    margin-top: 3rem;
  }

  .iphone{
    left: -2rem;
  }

  .gradient{
    left: 20%;
  }

  .left-component{
    width: 100%;
  }

   .track-crypto-heading, .real-time-heading{
    font-size: 3rem;
    text-align: center;
  }

  .track-crypto-heading{
   -webkit-text-stroke-width: 1px;
  }

  .info-text{
    text-align: center;
    font-size: 0.8rem;
  }
  
  .btn-flex{
    justify-content: center
  }
}


