@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
  /* height: 200vh; */
}


::selection {
  background-color: var(--blue);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 3rem;
}

a {
  text-decoration: none;
  color: var(--white) !important;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.grey-wrapper{
  display: block;
  width: 90%;
  background-color: var(--darkgrey);
  margin: 1.5rem auto;
  border-radius: 0.8rem;
  padding: 1rem 1rem;
}

.cursor {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  background-color: var(--blue);
  z-index: 10000;
  border: 2px solid var(--blue);
  height: 0.3rem;
  width: 0.3rem;
  border-radius: 50%;
  transition: all 200ms ease-out;
}

.cursor-pointer {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  background-color: transparent;
  z-index: 10000;
  border: 2px solid var(--blue);
  height: 2rem;
  width: 2rem;
  transition: all 400ms ease-out;
}


@media only screen and (max-width: 600px) {
  .cursor-pointer,
  .cursor {
    display: none;
  }
}

.coin-days-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem 0rem;
  gap: 2rem;
}