@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


:root {
  --white: #111;
  --black: #ffffff;
  --blue: #3a80e9;
  --grey: #666;
  --darkgrey: #f3f3f3;
  --green: #61c96f;
  --red: #f94141;
}


[data-theme="dark"] {
  --white: #ffffff;
  --black: #111;
  --grey: #888;
  --darkgrey: #1b1b1b;
}

/* ========================= */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--white);
}

/* SELECTION */
::selection {
  background-color: var(--blue);
  color: var(--white);
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 3rem;
}

/* LINKS */
a {
  text-decoration: none;
  color: var(--white);
}

/* IMAGES */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* WRAPPERS */
.grey-wrapper {
  display: block;
  width: 90%;
  background-color: var(--darkgrey);
  margin: 1.5rem auto;
  border-radius: 0.8rem;
  padding: 1rem;
}

/* CURSOR */
.cursor {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  background-color: var(--blue);
  z-index: 10000;
  border: 2px solid var(--blue);
  height: 0.3rem;
  width: 0.3rem;
  border-radius: 50%;
  transition: all 200ms ease-out;
}

.cursor-pointer {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  background-color: transparent;
  z-index: 10000;
  border: 2px solid var(--blue);
  height: 2rem;
  width: 2rem;
  transition: all 400ms ease-out;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .cursor-pointer,
  .cursor {
    display: none;
  }
}

/* EXTRA */
.coin-days-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem 0;
  gap: 2rem;
}